body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-size: 50px;
}
.orange-color {
    color: orange;
}

/* header */

.header {
    border: 2px solid red;
    display: flex;
    height: 500px;
}
.h-article {
    border: 1px solid green;
    width: 50%;
}
.h-article img {
    width: 100%;
}