body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 40px;
}
.orange-color {
    color: orange;
}

/* header section */

.header {
    display: flex;
    height: 500px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.h-article {
    width: 50%;
    padding-left: 3%;
}
.h-article img {
    width: 85%;
}
.link-btn {
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;
}